/* Modals style */

@keyframes modal-show-animation {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes modal-close-animation {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: var(--modal-overlay-bg-color);

    display: flex;
    flex-direction: column;

    padding: 0.5rem;

    opacity: 1;

    animation-name: modal-show-animation;
    animation-duration: 0.2s;

    overflow: auto;

    z-index: 250;
}

.modal-container.modal-container-opaque {
    background: var(--bg-color);
}

.modal-container.closing {
    animation-name: modal-close-animation;
    animation-duration: 0.1s;
    pointer-events: none;
}

.modal-container.hidden {
    animation-name: none;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
}

.modal-container.no-transition,
.modal-container.no-transition.hidden {
    transition: none;
    animation-name: none;
}

.modal-container:focus {
    outline: none;
}

.modal-out-close-area {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% - 2em);
    z-index: -1;
}

.modal-dialog {
    display: flex;
    margin: auto;
    flex-direction: column;
    background: var(--modal-bg-color);
}

.light-theme .modal-dialog {
    box-shadow:
        0 16px 24px 2px rgb(0 0 0 / 14%),
        0 6px 30px 5px rgb(0 0 0 / 12%),
        0 8px 10px -5px rgb(0 0 0 / 40%);
}

.dark-theme .modal-dialog {
    box-shadow:
        0 16px 24px 2px rgb(0 0 0 / 14%),
        0 6px 30px 5px rgb(0 0 0 / 12%),
        0 8px 10px -5px rgb(0 0 0 / 40%);
}

.modal-sm {
    width: 300px;
}

@media (max-width: 300px) {
    .modal-sm {
        width: calc(100% - 1rem);
    }
}

.modal-md {
    width: 500px;
}

@media (max-width: 600px) {
    .modal-md {
        width: calc(100% - 1rem);
    }
}

.modal-lg {
    width: 800px;
}

@media (max-width: 900px) {
    .modal-lg {
        width: calc(100% - 1rem);
    }
}

.modal-lgb {
    width: 900px;
}

@media (max-width: 1000px) {
    .modal-lgb {
        width: calc(100% - 1rem);
    }
}

.modal-xl {
    width: 1140px;
}

@media (max-width: 1240px) {
    .modal-xl {
        width: calc(100% - 1rem);
    }
}

.modal-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: solid 1px var(--theme-border-color);
}

.modal-title {
    flex: 1;
    min-width: 0;
    padding: 1rem;
    font-size: 24px;
    font-weight: bold;
}

.modal-close-btn {
    display: block;
    width: 48px;
    height: 48px;
    box-shadow: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: var(--theme-btn-color);
    background: transparent;
}

.modal-close-btn:disabled {
    opacity: 0.7;
    cursor: default;
}

.modal-close-btn:not(:disabled):hover {
    color: var(--theme-btn-hover-color);
}

.modal-body,
.modal-footer {
    padding: 1rem;
}

.modal-footer {
    border-top: solid 1px var(--theme-border-color);
}

/* Custom z-indexes */

.modal-container-signup {
    z-index: 301;
}

.modal-container-login,
.modal-container-cookies {
    z-index: 301;
}
